.divDetail{
    font-family: serif;
}

.dName{
    color: #358600;
}

.lightGreen{
    color: #63C132;
}

.btnDetail{
    border-radius: 15px;
    border: 2px solid #63C132;
    cursor: pointer;
    background: #358600;
    color: #9EE37D;
    font-family: serif;
    font-size: 25px;
}